body {
    background-color: rgb(255, 227, 227);
    color: black;
    width: 500px;
    margin: 0 auto;
}

h1 {
    color: black;
    text-align:center;
}

a {
    color: blue;
    text-align:center;
    font-size: larger;
    text-align: center;
    font-weight: bold;
}